<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.monitorserver.mapper.OnlineMapper">

    <resultMap id="BaseResultMap" type="com.example.monitorserver.dto.OnlineDTO">
        <result column="id" jdbcType="INTEGER" property="id" />
        <result column="name" jdbcType="VARCHAR" property="name" />
        <result column="os" jdbcType="VARCHAR" property="os" />
        <result column="cpucount" jdbcType="INTEGER" property="cpucount" />
        <result column="ontime" jdbcType="DATE" property="ontime" />
        <result column="status" jdbcType="VARCHAR" property="status" />
        <result column="ip" jdbcType="VARCHAR" property="ip" />
    </resultMap>

    <select id="selAllOn" resultMap="BaseResultMap">
        select * from online
    </select>

    <select id="selByName" parameterType="com.example.monitorserver.dto.OnlineDTO" resultMap="BaseResultMap">
        select * from online where name=#{name}
    </select>

    <delete id="delClient" parameterType="com.example.monitorserver.dto.OnlineDTO">
        delete from online where name=#{name}
    </delete>
</mapper>