<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.monitorserver.mapper.RegisterlogMapper">

    <resultMap id="BaseResultMap" type="com.example.monitorserver.dto.RegisterlogDTO">
        <result column="id" jdbcType="INTEGER" property="id" />
        <result column="name" jdbcType="VARCHAR" property="name" />
        <result column="os" jdbcType="VARCHAR" property="os" />
        <result column="cpucount" jdbcType="INTEGER" property="cpucount" />
        <result column="ontime" jdbcType="DATE" property="ontime" />
        <result column="offtime" jdbcType="DATE" property="offtime" />
    </resultMap>

    <select id="selAll" resultMap="BaseResultMap">
        select * from registerlog
    </select>

    <insert id="insertIntoLog" parameterType="com.example.monitorserver.dto.RegisterlogDTO">
        insert into registerlog(name,os,cpucount,ontime,offtime) values (#{name},#{os},#{cpucount},#{ontime},#{offtime})
    </insert>

</mapper>